#about-container{
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px 8rem 0 8rem;
}
#about-container-about-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family:"Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
#about-container-line{
    border-width: 2px; /* Độ dày của border */
    border-style: solid; /* Kiểu border */
    border-image: linear-gradient(to bottom, #E0E0E0, #FBFBFB) 1;
}
#about-container .about-container-label{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 40px 0;
}
#about-container-main-img{
    width: 100%;
    aspect-ratio: 1 / 0.4;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background: url(../img/oboutpage/main-img.jpg) 50% / cover no-repeat;
    margin-bottom: 40px;
}
#about-container .about-container-span-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 120px;
}
#about-container-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 80px;
    align-items: center;
    column-gap: 4%;
}
#about-container-group-item1{
    width: 46%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#about-container-group-item2{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#about-container-group-item2-img{
    width: 100%;
    aspect-ratio: 1 / 0.83;
    box-sizing: border-box;
    background: url(../img/oboutpage/sub-img.jpg) 50% / cover no-repeat;
}
#about-container-group .about-container-group-item1-label{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
#about-container-group .about-container-group-item1-span-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
#about-container-chefs-and-foodies{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 30px 0;
}
#about-container-chefs-and-foodies .about-container-chefs-and-foodies-itemInColum{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
#about-container-chefs-and-foodies .about-container-chefs-and-foodies-itemInColum-item{
    width: calc((100% - 100px)/6);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 6.5px;
    justify-content: center;
}
#about-container-chefs-and-foodies .about-container-chefs-and-foodies-itemInColum-item-avata{
    width: 100%;
    aspect-ratio: 1 / 1; /* Tỉ lệ chiều rộng/chiều cao */
    border-radius: 50%;
    box-sizing: border-box;
    background: url(../img/oboutpage/Ham-ChuWon-avata.jpg) 50% / cover no-repeat;
    /* border: 1px solid #ffffff;  */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Hiệu ứng đổ bóng */
}
#about-container-chefs-and-foodies .about-container-chefs-and-foodies-itemInColum-item-name{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
#about-container-chefs-and-foodies .about-container-chefs-and-foodies-itemInColum-item-position{
    text-align: center;
    font-size: 12px;
    opacity: 0.46;
}
#about-container-location-description{
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 100px;
}
#about-container-location-description-locationSpan{
    font-weight: 700;
    font-size: 20px;
}
#about-container-location-description-descriptionSpan{
    opacity: 0.8;
    font-size: 14px;
    line-height: 20px;
}
#about-container-line2{
    border-width: 1px; /* Độ dày của border */
    border-style: solid; /* Kiểu border */
    border-image: linear-gradient(to bottom, #F5F5F5, #EEEEEE, #E9E9E9) 1;
    margin: 35px 0;
    width: 60%;
}
#about-container-social-media{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#about-container-social-media .fa-facebook:hover{
    animation: bounce 0.5s ease;
    color: #4267B2;
}
#about-container-social-media .fa-twitter:hover{
    animation: bounce 0.5s ease;
    color: #00acee;
}
#about-container-social-media .fa-instagram:hover{
    animation: bounce 0.5s ease;
    color: #e4405f;
}
