.CookieNoticePopUp {
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 30px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 4vh;
    left: 50%;
    width: 90%;
    max-width: 1050px;
    transform: translate(-50%, 0);
    overflow: hidden;
    z-index: 999;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    border: 0.4px solid #E8E8E8;
    display: none;
}
.CookieNoticePopUp__text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.CookieNoticePopUp__text--title{
    font-size: 38px;
    font-weight: 600;
}
.CookieNoticePopUp__text--content{
    font-size: 20px;
}
.CookieNoticePopUp__GotItButton{
    background-color: #FF642F;
    color: #FFFFFF;
    font-size: 18px;
    padding: 13px 46px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    white-space: nowrap;
}
.CookieNoticePopUp__GotItButton:hover{
    cursor: pointer;
}