.DeleteAccountPopUp {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 999;
    display: none;
}
.DeleteAccountPopUpContent {
    border-radius: 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 520px;
    height: 380px;
    padding: 50px;
    justify-content: flex-end;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.DeleteAccountPopUpClose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}
.DeleteAccountPopUpClose img{
    width: 16px;
    height: 16px;
}
.DeleteAccountPopUp__text{
    font-size: 38px;
    font-weight: 700;
}
.DeleteAccountPopUp__notetext{
    font-size: 20px;
    margin-bottom: 24px;
}
.RecipeAgainPopUp__groupButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.RecipeAgainPopUp__groupButton--Delete{
    background-color: #FF642F;
    color: #FFFFFF;
    font-size: 20px;
    width: 40%;
    aspect-ratio: 1 / 0.3;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}
.RecipeAgainPopUp__groupButton--Cancel{
    background-color: #FFFFFF;
    font-size: 20px;
    width: 40%;
    aspect-ratio: 1 / 0.3;
    border: 2px solid ;
    box-sizing: border-box;
    border-radius: 6px;
}
.RecipeAgainPopUp__groupButton--Delete:hover,
.RecipeAgainPopUp__groupButton--Cancel:hover,
.DeleteAccountPopUpClose:hover{
    cursor: pointer;
}