.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    height: 100%;
    width: 700px;
    padding: 2.5rem;
    color: #000;
    font-size: 18px;
    border: 1px solid #FF642F;
    border-radius: 6px 0 0 6px;
    background-color: white;
    /* font-family: "Playfair Display", serif;
    font-style: normal; */
  }
  
  .button--submit {
    padding: 2.75rem 5rem;
    border-top:  1px solid #FF642F;
    border-bottom: 1px solid #FF642F;
    border-right: 1px solid #FF642F;
    border-left: none;
    border-radius: 0 6px 6px 0;
    background-color: #FF642F;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }

  .button--submit:hover{
    background-color: #f8b29a;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #FF642F;
    outline: none;
  }

  @media screen and (max-width: 1024px){
    .input{
      width: 500px;
    }
  }

  @media screen and (max-width: 767px){
    .input{
      width: 300px;
    }
    .button--submit {
      padding: 2.75rem 2.5rem;
    }
  }

  @media screen and (max-width: 467px){
    .input{
      width: 200px;
    }
  }

