/* Style the search container */
.search-container {
    margin-bottom: 15px;
  }
  
  /* Style the list items */
  #itemList li {
    display: none; /* Initially hide all items */
  }
  
  /* Show items that match the search */
  #itemList li.show {
    display: block;
  }

  .fa-circle-xmark{
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .fa-circle-xmark:hover{
    color: #FF642F;
  }

.sunny.show{
  display: block;           
}

.sunny{
    display: none;
}
  