.UndoDeletePopUp {
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    padding: 10px 16px;
    box-sizing: border-box;
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    z-index: 999;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    border: 0.4px solid #E8E8E8;
    display: none
}
.UndoDeletePopUp__text{
    font-size: 20px;
}
.UndoDeletePopUp__UndoButton{
    background-color: #FF642F;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 32px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
}
.UndoDeletePopUp__UndoButton:hover{
    cursor: pointer;
}