:root{
    --primaryColor: #FF642F;
    --secondaryColor: #fac1ae;
    --backgroundColor: #f5f5f5;
    --backgoundBlueColor: #e2f2ff;
    --backgroundGrayColor: #E8E8E8;
    --backgroundGrayColor_2: #D5D5D5;
    --backgroundGrayFooter: #f9f9f9;
    --blackColor: #131313;
    font-size: 10px;
}

.threecols{
    margin-top: 32rem;
    .threecols__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .threecols__items--content{
            display: flex;
            flex-direction: column;
            gap: 1rem;     
            .threecols__items--image{
                width: 550px;
                height: 450px;
                border-radius: 2rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .threecols__items--name{
                p{
                    font-weight: bold;
                }
            }
        }
    }
}
//responsive three columns
@media screen and (max-width: 1600px){
    .threecols{
        .threecols__items{
            .threecols__items--content{ 
                .threecols__items--image{
                    width: 400px;
                    height: 280px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px){
    .threecols{
        .threecols__items{
            .threecols__items--content{ 
                .threecols__items--image{
                    width: 350px;
                    height: 280px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 1224px){
    .threecols{
        .threecols__items{
            .threecols__items--content{ 
                .threecols__items--image{
                    width: 300px;
                    height: 250px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .threecols{
        .threecols__items{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            .threecols__items--content{     
                width: 100%;
                .threecols__items--image{
                    width: 100%;
                    height: 350px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .threecols{
        .threecols__items{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            .threecols__items--content{     
                width: 100%;
                .threecols__items--image{
                    width: 100%;
                    height: 280px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 466px){
    .threecols{
        .threecols__items{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            .threecols__items--content{     
                width: 100%;
                .threecols__items--image{
                    width: 100%;
                    height: 230px;
                    border-radius: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
}
.inbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    .inbox__content{
        background-color: var(--secondaryColor);
        width: 100%;
        height: 100%;
        padding: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border-radius: 2rem;
        h1{
            font-size: 74px;
        }
        h4{
            font-size: 24px;
        }
        p{
            display: inline-block;
        }
    }
    .inbox__text{
        display: inline-block;
        .underline{
            color: var(--primaryColor);
            padding: 6px 0;
            border-bottom: 1px solid var(--primaryColor);
        }
    }
}

//inbox responsive
@media screen and (max-width: 1024px){
    .inbox{
        .inbox__content{
            h1{
                font-size: 70px;
            }
            h4{
                font-size: 22px;
            }
            p{
                display: inline-block;
            }
        }
        .inbox__text{
            display: inline-block;
            .underline{
                color: var(--primaryColor);
                padding: 6px 0;
                border-bottom: 1px solid var(--primaryColor);
            }
        }
    }
}

@media screen and (max-width: 767px){
    .inbox{
        .inbox__content{
            width: 500px;
            height: 100%;
            padding: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            h1{
                font-size: 52px;
            }
            h4{
                font-size: 18px;
            }
            p{
                display: inline-block;
            }
        }
        .inbox__text{
            display: inline-block;
            .underline{
                color: var(--primaryColor);
                padding: 6px 0;
                border-bottom: 1px solid var(--primaryColor);
            }
        }
    }
}

.lastestRecipes{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    .lastestRecipes__leftcontent{
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 16rem;
        .lastestRecipes__leftcontent--banner{
            .banner{
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border: 2px solid var(--backgroundGrayColor_2);
                border-radius: 2rem;
                overflow: hidden;
                .banner__img{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
                .banner__content{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 3rem 10rem;
                    .banner__content--user{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .sunny__user{
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .banner__comment{
                            display: flex;
                            gap: 3rem;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .lastestRecipes__leftcontent--items{
            .items__container{
                display: flex;
                flex-direction: column;
                gap: 4rem;
                .lrecipes__content{
                    border-radius: 2rem;
                    overflow: hidden;
                    display: flex;
                    gap: 4rem;
                    justify-content: center;
                    align-items: center;
                    .leftContent{
                        flex: 1;
                        .lrecipes__content--img{
                            width: 500px;
                            height: 350px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .rightContent{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 2rem;
                        h2{
                            font-size: 36px;
                        }
                        .lrecipes__content--user{
                            display: flex;
                            align-items:start;
                            flex-direction: column;
                            gap: 4rem;
                            .user__img{
                                width: 50px;
                                height: 50px;
                                overflow: hidden;
                                border-radius: 100%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .banner__comment{
                                display: flex;
                                gap: 4rem;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .lastestRecipes__rightcontent{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 8rem;
        gap: 4rem;
        .lastestRecipes__rightcontent--user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            border: 1px solid var(--backgroundGrayColor_2);
            padding: 8rem;
            .user__imgdiv{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            p{
                text-align: center;
            }
        }
        .lastestRecipes__rightcontent--fresh{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            .fresh__container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 4rem;
                justify-content: space-between;
                .fresh__content{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .fresh__content--img{
                        width: 300px;
                        height: 230px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .fresh__content--text{
                        text-align: center;
                    }
                }
            }
        }
        .lastestRecipes__rightcontent--insta{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;
            border: 1px solid var(--backgroundGrayColor_2);
            border-radius: 2rem;
            .between{
                display: flex;
                justify-content: space-around;
            }
            .insta__image{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                justify-content: center;
                .imgDiv{
                    width: 100%;
                    height: 200px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1800px){
    .lastestRecipes{
        display: flex;
        gap: 8rem;
        justify-content: center;
        align-items: start;
        width: 100%;
        flex-direction: column;
        .lastestRecipes__leftcontent{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8rem;
            .lastestRecipes__leftcontent--banner{
                .banner{
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    border: 2px solid var(--backgroundGrayColor_2);
                    border-radius: 2rem;
                    overflow: hidden;
                    .banner__img{
                        width: 100%;
                        height: 600px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .banner__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 3rem 10rem;
                        .banner__content--user{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .sunny__user{
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .banner__comment{
                                display: flex;
                                gap: 3rem;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    .lrecipes__content{
                        border-radius: 2rem;
                        border: 2px solid var(--secondaryColor);
                        overflow: hidden;
                        display: flex;
                        gap: 2rem;
                        justify-content: start;
                        align-items: center;
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 500px;
                                height: 350px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .rightContent{
                            flex: none;
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            padding: 2rem;
                            h2{
                                font-size: 36px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 4rem;
                                .user__img{
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .banner__comment{
                                    display: flex;
                                    gap: 4rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lastestRecipes__rightcontent{
            flex: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 0;
            gap: 4rem;
            .lastestRecipes__rightcontent--user{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                border: 2px solid var(--backgroundGrayColor_2);
                padding: 8rem;
                max-width: 1000px;
                border-radius: 2rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                .user__imgdiv{
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .lastestRecipes__rightcontent--fresh{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                .fresh__container{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    gap: 4rem;
                    justify-content: space-between;
                    .fresh__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .fresh__content--img{
                            width: 100%;
                            height: 230px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .fresh__content--text{
                            text-align: center;
                            h4{

                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .lastestRecipes__rightcontent--insta{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem;
                border: 1px solid var(--backgroundGrayColor_2);
                border-radius: 2rem;
                max-width: 1000px;
                .between{
                    display: flex;
                    justify-content: space-around;
                }
                .insta__image{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                    justify-content: center;
                    .imgDiv{
                        width: 100%;
                        height: 200px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .lastestRecipes{
        gap: 6rem;
        .lastestRecipes__leftcontent{
            .lastestRecipes__leftcontent--banner{
                .banner{
                    .banner__img{
                        width: 100%;
                        height: 500px;
                    }
                    .banner__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 3rem 10rem;
                        .banner__content--user{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .sunny__user{
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .banner__comment{
                                display: flex;
                                gap: 3rem;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    .lrecipes__content{
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 400px;
                                height: 280px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .rightContent{
                            h2{
                                font-size: 32px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 2rem;
                                .user__img{
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .banner__comment{
                                    display: flex;
                                    gap: 4rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 1200px){
    .lastestRecipes{
        .lastestRecipes__leftcontent{
            .lastestRecipes__leftcontent--banner{
                .banner{
                    .banner__img{
                        width: 100%;
                        height: 450px;
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    .lrecipes__content{
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 300px;
                                height: 250px;
                            }
                        }
                        .rightContent{
                            h2{
                                font-size: 28px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 4rem;
                                .user__img{
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .banner__comment{
                                    display: flex;
                                    gap: 4rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lastestRecipes__rightcontent{
            .lastestRecipes__rightcontent--user{
                .user__imgdiv{
                    width: 120px;
                    height: 120px;
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .lastestRecipes__rightcontent--fresh{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                .fresh__container{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 4rem;
                    justify-content: space-between;
                    .fresh__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .fresh__content--img{
                            width: 100%;
                            height: 230px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .fresh__content--text{
                            text-align: center;
                            h4{

                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .lastestRecipes__rightcontent--insta{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem;
                border: 1px solid var(--backgroundGrayColor_2);
                border-radius: 2rem;
                max-width: 1000px;
                .between{
                    display: flex;
                    justify-content: space-around;
                }
                .insta__image{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                    justify-content: center;
                    .imgDiv{
                        width: 100%;
                        height: 200px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .lastestRecipes{
        .lastestRecipes__leftcontent{
            .lastestRecipes__leftcontent--banner{
                .banner{
                    .banner__img{
                        width: 100%;
                        height: 400px;
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    .lrecipes__content{
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 250px;
                                height: 250px;
                            }
                        }
                        .rightContent{
                            h2{
                                font-size: 24px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 2rem;
                            }
                        }
                    }
                }
            }
        }
        .lastestRecipes__rightcontent{
            .lastestRecipes__rightcontent--user{
                .user__imgdiv{
                    width: 120px;
                    height: 120px;
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .lastestRecipes__rightcontent--fresh{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                .fresh__container{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 2rem;
                    justify-content: space-between;
                    .fresh__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .fresh__content--img{
                            width: 100%;
                            height: 230px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .fresh__content--text{
                            text-align: center;
                            h4{

                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .lastestRecipes{
        .lastestRecipes__leftcontent{
            gap: 4rem;
            .lastestRecipes__leftcontent--banner{
                .banner{
                    .banner__img{
                        width: 100%;
                        height: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .banner__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 2rem 7rem;
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    .lrecipes__content{
                        border-radius: 2rem;
                        border: 2px solid var(--secondaryColor);
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        justify-content: start;
                        align-items: center;
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 700px;
                                height: 350px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .rightContent{
                            flex: none;
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            padding: 2rem;
                            h2{
                                font-size: 32px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 4rem;
                                .user__img{
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .banner__comment{
                                    display: flex;
                                    gap: 4rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lastestRecipes__rightcontent{
            .lastestRecipes__rightcontent--user{
                padding: 4rem;
                .user__imgdiv{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .lastestRecipes__rightcontent--fresh{
                .fresh__container{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 4rem;
                    justify-content: space-between;
                    .fresh__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .fresh__content--img{
                            width: 100%;
                            height: 230px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .fresh__content--text{
                            text-align: center;
                            h4{

                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .lastestRecipes{
        .lastestRecipes__leftcontent{
            gap: 4rem;
            .lastestRecipes__leftcontent--banner{
                .banner{
                    .banner__img{
                        width: 100%;
                        height: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .banner__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        padding: 2rem 3rem;
                    }
                }
            }
            .lastestRecipes__leftcontent--items{
                .items__container{
                    .lrecipes__content{
                        border-radius: 2rem;
                        border: 2px solid var(--secondaryColor);
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        justify-content: start;
                        align-items: center;
                        .leftContent{
                            flex: none;
                            .lrecipes__content--img{
                                width: 700px;
                                height: 350px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .rightContent{
                            flex: none;
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            padding: 2rem;
                            h2{
                                font-size: 28px;
                            }
                            .lrecipes__content--user{
                                display: flex;
                                align-items:start;
                                flex-direction: column;
                                gap: 4rem;
                                .user__img{
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .banner__comment{
                                    display: flex;
                                    gap: 4rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lastestRecipes__rightcontent{
            .lastestRecipes__rightcontent--user{
                padding: 4rem;
                .user__imgdiv{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .lastestRecipes__rightcontent--fresh{
                .fresh__container{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    gap: 4rem;
                    .fresh__content{
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        .fresh__content--img{
                            width: 100%;
                            height: 230px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .fresh__content--text{
                            text-align: center;
                            h4{

                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .lastestRecipes__rightcontent{
        .lastestRecipes__rightcontent--user{
            .user__imgdiv{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            p{
                text-align: center;
            }
        }
        .lastestRecipes__rightcontent--fresh{
            .fresh__container{
                
                .fresh__content{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .fresh__content--img{
                        width: 300px;
                        height: 230px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .fresh__content--text{
                        text-align: center;
                    }
                }
            }
        }
        .lastestRecipes__rightcontent--insta{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;
            border: 1px solid var(--backgroundGrayColor_2);
            border-radius: 2rem;
            .between{
                display: flex;
                flex-direction: column;
            }
            .insta__image{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                justify-content: center;
                .imgDiv{
                    width: 100%;
                    height: 200px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.collections{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .collections__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        gap: 4rem;
        .collections__content{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 4rem;
            // padding: 4rem;
            border: 1px solid var(--backgroundGrayColor);
            border-radius: 2rem;
            overflow: hidden;
            .collections__content--img{
                width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .collections__content--items{
                padding: 4rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4rem;
                .items__box{
                    width: 200px;
                    text-align: center;
                    padding: 1rem;
                    border: 1px solid var(--blackColor);
                    font-size: 16px;
                    font-family: "Montserrat", sans-serif;
                    transition: all 0.5s ease-in-out;
                    border-radius: 1rem;
                    &:hover{
                        background-color: var(--primaryColor);
                        border: 1px solid var(--backgroundColor);  
                        color: var(--backgroundColor);                     
                    }
                    
                }
            }
        }
    }
}

// collections responsive
@media screen and (max-width: 1600px){
    .collections{
        .collections__container{
            grid-template-columns: repeat(2, 1fr);
            .collections__content{
                .collections__content--img{
                    width: 100%;
                    height: 300px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .collections__content--items{
                    .items__box{
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .collections{
        .collections__container{
            grid-template-columns: repeat(1, 1fr);
            .collections__content{
                .collections__content--img{
                    width: 100%;
                    height: 300px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .collections__content--items{
                    flex-direction: column;
                    .items__box{
                    }
                }
            }
        }
    }
}

.recipes{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    h2{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .recipes__container{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        width: 100%;
        .recipes__content{
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .recipes__content--img{
                width: 400px;
                height: 300px;
                border-radius: 1rem;
                overflow: hidden;
                img{
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
            .recipes__content--text{
                font-size: 22px;
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
            }
        }
    }
    .btn-secondary{
        width: 200px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
    }

}
// recipes responsive
@media screen and (max-width: 1800px){
    .recipes{
        .recipes__container{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;
            width: 100%;
            .recipes__content{
                width: 400px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .recipes__content--img{
                    width: 400px;
                    height: 300px;
                    border-radius: 1rem;
                    overflow: hidden;
                }
                .recipes__content--text{
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                }
            }
        }   
    }
}

@media screen and (max-width: 1400px){
    .recipes{
        .recipes__container{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            width: 100%;
            .recipes__content{
                width: 500px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .recipes__content--img{
                    width: 500px;
                    height: 350px;
                    border-radius: 1rem;
                    overflow: hidden;
                }
                .recipes__content--text{
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                }
            }
        }   
    }
}

@media screen and (max-width: 1200px){
    .recipes{
        .recipes__container{
            .recipes__content{
                width: 400px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .recipes__content--img{
                    width: 400px;
                    height: 350px;
                    border-radius: 1rem;
                    overflow: hidden;
                }
                .recipes__content--text{
                    font-size: 22px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                }
            }
        }   
    }
}

@media screen and (max-width: 950px){
    .recipes{
        .recipes__container{
            .recipes__content{
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .recipes__content--img{
                    width: 300px;
                    height: 280px;
                    border-radius: 1rem;
                    overflow: hidden;
                }
                .recipes__content--text{
                    font-size: 20px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                }
            }
        }   
    }
}

@media screen and (max-width: 699px){
    .recipes{
        .recipes__container{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(1, 1fr);
            gap: 4rem;
            width: 100%;
            .recipes__content{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .recipes__content--img{
                    width: 100%;
                    height: 250px;
                    border-radius: 1rem;
                    overflow: hidden;
                }
                .recipes__content--text{
                    font-size: 18px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                }
            }
        }   
    }
}