:root{
    --primaryColor: #FF642F;
    --secondaryColor: #fac1ae;
    --backgroundColor: #f5f5f5;
    --backgoundBlueColor: #e2f2ff;
    --backgroundGrayColor: #E8E8E8;
    --backgroundGrayColor_2: #D5D5D5;
    --backgroundGrayFooter: #f9f9f9;
    --blackColor: #131313;
    font-size: 10px;
}

.threecols{
    margin-top: 32rem;
    .threecols__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .threecols__items--content{
            display: flex;
            flex-direction: column;
            gap: 1rem;     
            .threecols__items--image{
                width: 550px;
                height: 450px;
                border-radius: 2rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .threecols__items--star{
                .fa-star{
                    color: var(--primaryColor);
                }
            }
            .threecols__items--name{
                p{
                    font-weight: bold;
                }
            }
        }
    }
}

.inbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    .inbox__content{
        background-color: var(--secondaryColor);
        width: 100%;
        height: 100%;
        padding: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border-radius: 2rem;
        h1{
            font-size: 74px;
        }
        h4{
            font-size: 24px;
        }
        p{
            display: inline-block;
        }
    }
    .inbox__text{
        display: inline-block;
        .underline{
            color: var(--primaryColor);
            padding: 6px 0;
            border-bottom: 1px solid var(--primaryColor);
        }
    }
}