:root {
  --primaryColor: #FF642F;
  --secondaryColor: #fac1ae;
  --backgroundColor: #f5f5f5;
  --backgoundBlueColor: #e2f2ff;
  --backgroundGrayColor: #E8E8E8;
  --backgroundGrayColor_2: #D5D5D5;
  --backgroundGrayFooter: #f9f9f9;
  --blackColor: #131313;
  font-size: 10px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 2000px;
  background-color: #ffffff;
}
.header .nav {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__logo {
  width: 200px;
  height: 110px;
}
.header .nav .nav__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .nav .nav__bar {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .nav .nav__bar .nav__bar--items p {
  font-weight: 600;
}
.header .nav .nav__search {
  display: flex;
  width: 100%;
  max-width: 150px;
  justify-content: space-around;
}
.header .nav .nav__search i {
  cursor: pointer;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}
.header .nav .nav__search i:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: 100%;
}

.searchBar {
  position: fixed;
  top: -10000px;
  left: 0;
  width: 100%;
  background-color: var(--backgroundGrayFooter);
  z-index: 11;
  transition: all 0.3s ease;
  height: 80vh;
}
.searchBar .search-container {
  padding: 4rem 0;
}
.searchBar .search-container input {
  border: none;
  border-bottom: 2px solid var(--primaryColor);
  outline: none;
  width: 100%;
  padding: 2rem 4rem;
  font-size: 22px;
}
.searchBar #itemList li {
  padding: 2rem 0;
}
.searchBar #itemList .itemList__content {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.searchBar #itemList .itemList__content .itemList__content--img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
.searchBar #itemList .itemList__content .itemList__content--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.searchBar .closeButton {
  position: absolute;
  top: 6rem;
  right: 10rem;
}

.active {
  top: 0;
}

.banner {
  width: 100%;
  height: 700px;
  margin-top: 200px;
  display: flex;
  background-color: var(--backgoundBlueColor);
  border-radius: 2rem;
  overflow: hidden;
}
.banner .banner__image {
  flex: 2;
  width: 500px;
  height: 700px;
}
.banner .banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner__content {
  flex: 1;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.threecols {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.threecols .threecols__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.threecols .threecols__items .threecols__items--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.threecols .threecols__items .threecols__items--content .threecols__items--image {
  width: 550px;
  height: 300px;
  border-radius: 2rem;
  overflow: hidden;
}
.threecols .threecols__items .threecols__items--content .threecols__items--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.threecols .threecols__items .threecols__items--content .threecols__items--name p {
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.categories .categories__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.categories .categories__content .categories__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.categories .categories__content .categories__items .categories__items--image {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
}
.categories .categories__content .categories__items .categories__items--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories .categories__content .categories__items p {
  font-size: 20px;
  font-weight: bold;
}

.inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: var(--secondaryColor);
}
.inbox .inbox__content {
  width: 700px;
  height: 100%;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.inbox .inbox__content h1 {
  font-size: 74px;
}
.inbox .inbox__content h4 {
  font-size: 24px;
}
.inbox .inbox__content p {
  display: inline-block;
}
.inbox .inbox__text {
  display: inline-block;
}
.inbox .inbox__text .underline {
  color: var(--primaryColor);
  padding: 6px 0;
  border-bottom: 1px solid var(--primaryColor);
}

.collections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.collections .collections__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.collections .collections__container .collections__content {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  border: 1px solid var(--backgroundGrayColor);
  border-radius: 2rem;
  overflow: hidden;
}
.collections .collections__container .collections__content .collections__content--img {
  width: 100%;
  height: 500px;
}
.collections .collections__container .collections__content .collections__content--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collections .collections__container .collections__content .collections__content--items {
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.collections .collections__container .collections__content .collections__content--items .items__box {
  width: 150px;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--blackColor);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}
.collections .collections__container .collections__content .collections__content--items .items__box:hover {
  background-color: var(--primaryColor);
  border: 1px solid var(--backgroundColor);
  color: var(--backgroundColor);
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.recipes h2 {
  width: 100%;
  display: flex;
  justify-content: start;
}
.recipes .recipes__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  width: 100%;
}
.recipes .recipes__container .recipes__content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recipes .recipes__container .recipes__content .recipes__content--img {
  width: 400px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
}
.recipes .recipes__container .recipes__content .recipes__content--img img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipes .recipes__container .recipes__content .recipes__content--img img:hover {
  scale: 1.1;
}
.recipes .recipes__container .recipes__content .recipes__content--text {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.recipes .btn-secondary {
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 1440px) {
  .recipes .recipes__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .recipes .recipes__container .recipes__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .recipes .recipes__container .recipes__content .recipes__content--img {
    width: 400px;
    height: 300px;
  }
  .recipes .recipes__container .recipes__content .recipes__content--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recipes .recipes__container .recipes__content .recipes__content--text {
    font-size: 22px;
  }
}
footer {
  background-color: var(--backgroundGrayFooter);
  height: 100%;
  width: 100%;
  margin-top: 150px;
}
footer .sunnyhotfix {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
footer .sunnyhotfix .sunnyhotfix__second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 8rem 0;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__leftcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__leftcontent .footer__leftcontent--img {
  width: 300px;
  height: 100%;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__leftcontent .footer__leftcontent--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__leftcontent .footer__leftcontent--text h5 {
  font-size: 20px;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__rightcontent {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__rightcontent .footer__rightcontent--items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__rightcontent .footer__rightcontent--items h5 {
  font-weight: bold;
  font-size: 18px;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__rightcontent .footer__rightcontent--items a {
  transition: all 0.3s ease-in-out;
}
footer .sunnyhotfix .sunnyhotfix__second .footer__rightcontent .footer__rightcontent--items a:hover {
  color: var(--primaryColor);
  letter-spacing: 2px;
}
footer .sunnyhotfix .footer__tag {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--backgroundGrayColor);
}
footer .sunnyhotfix .footer__tag .footer__tag--icon {
  display: flex;
  justify-content: space-around;
  width: 400px;
}/*# sourceMappingURL=index.css.map */