.ProfileContainer {
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 150px 8rem 0 8rem; */
    padding-top: 150px;
    padding-bottom: 0;
}
.ProfilePage__Topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.ProfilePage__Topbar--Title {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
}
.ProfilePage__Line {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #E0E0E0, #FBFBFB) 1;
}
.ProfilePage__Topbar button {
    background-color: #FF642F;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 32px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
}
.ProfilePage__Infor{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    margin-top: 60px;
}
.ProfilePage__Infor img{
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.ProfilePage__Infor--ChangePhoto{
    background-color: #FF642F;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 32px;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
}
.ProfilePage__Infor--Delete{
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 6px 30px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 3px;
}
.ProfilePage__Infor2{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 70%;
    max-width: 70%;
    margin-top: 50px;
}
.ProfilePage__Infor2--Group{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}
.ProfilePage__Infor2--GroupItem{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: calc((100% - 20px)/2);
}
.ProfilePage__Infor2--GroupItem span{
    color: #7F7F7F;
    font-size: 14px;
    font-family: 'Roboto';
}
.ProfilePage__Infor2--GroupItem div{
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
    padding: 10px 8px;
    color: #7F7F7F;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}
.ProfilePage__Infor2--GroupItem i {
    font-size: 15px;
    display: inline-block;
    width: 17px;
    min-width: 17px;
    max-width: 17px;
    text-align: center;
}
.ProfilePage__Infor2--GroupItem input {
    border: none;
    color: #7F7F7F;
    width: calc(100% - 25px);
    font-size: 14px;
}
.ProfilePage__Infor2--GroupItem input:focus{
    outline: none;
    color: #080808;
}
.ProfilePage__Infor2--GroupItem div {
    &:focus-within {
        color: #080808;
        border-bottom: 2px solid #080808;
    }
}
.ProfilePage__ChangeSpan{
    width: 70%;
    max-width: 70%;
    color: #FF642F;
    font-size: 13px;
    font-family: 'Roboto';
    text-align: right;
    padding: 8px 0;
    font-weight: 600;
}
.ProfilePage__ConnectedAccounts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    max-width: 70%;
    margin-top: 90px;
}
.ProfilePage__ConnectedAccounts--Title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}
.ProfilePage__ConnectedAccounts--Item{
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ProfilePage__ConnectedAccounts--Item div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.ProfilePage__ConnectedAccounts--Item div img[alt="logo-facebook"]{
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 0.193;
}
.ProfilePage__ConnectedAccounts--Item div img[alt="logo-google"] {
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 0.338;
}
.ProfilePage__ConnectedAccounts--Item div span{
    color: #7F7F7F;
    font-size: 15px;
    font-family: 'Roboto';
}
.ProfilePage__ConnectedAccounts--Item .Item--DisconnectButton{
    font-size: 15px;
    font-family: 'Roboto';
    color: #080808;
}
.ProfilePage__Newsletter {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
    margin-top: 90px;
}
.ProfilePage__Newsletter--Title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}
.ProfilePage__Newsletter--Group{
    width: 100%;
    border-bottom: 2px solid #E8E8E8;
    padding: 12px 0 34px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ProfilePage__Newsletter-Text{
    font-size: 15px;
    font-family: 'Roboto';
}
.ProfilePage__Newsletter--Group button {
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 8px 32px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 3px;
}
.ProfilePage__BottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 70%;
    margin-top: 50px;
}
.ProfilePage__BottomBar--SignOut{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
}
.ProfilePage__BottomBar--SignOut span{
    font-size: 15px;
    font-family: 'Roboto';
    color: #080808;
}
.ProfilePage__BottomBar--DeleteButton{
    color: #FF642F;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 600;
}
.ProfilePage__BottomBar--SignOut i {
    font-size: 20px;
    display: inline-block;
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    text-align: center;
}
.ProfilePage__BottomBar--SignOut:hover,
.ProfilePage__BottomBar--DeleteButton:hover,
.ProfilePage__ConnectedAccounts--Item .Item--DisconnectButton:hover,
.ProfilePage__ChangeSpan:hover,
.ProfileContainer button:hover{
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .ProfilePage__Topbar {
        margin-bottom: 16px;
    }
    .ProfilePage__Topbar--Title {
        font-size: 25px;
    }
    .ProfilePage__Topbar button {
        font-size: 14px;
        padding: 8px 30px;
    }
    .ProfilePage__Infor {
        margin-top: 45px;
    }
    .ProfilePage__Infor2 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    .ProfilePage__ChangeSpan {
        width: 100%;
        max-width: 100%;
    }
    .ProfilePage__ConnectedAccounts {
        row-gap: 16px;
        width: 100%;
        max-width: 100%;
        margin-top: 60px;
    }
    .ProfilePage__ConnectedAccounts--Item {
        padding: 12px 0;
    }
    .ProfilePage__Newsletter {
        width: 100%;
        max-width: 100%;
        margin-top: 74px;
    }
    .ProfilePage__Newsletter--Group {
        padding: 10px 0 25px 0;
    }
    .ProfilePage__BottomBar {
        width: 100%;
        max-width: 100%;
        margin-top: 42px;
    }
}
@media screen and (max-width: 500px) {


    .ProfilePage__Topbar {
        margin-bottom: 14px;
    }
    .ProfilePage__Topbar--Title {
        font-size: 23px;
    }
    .ProfilePage__Topbar button {
        font-size: 12px;
        padding: 7.2px 25px;
    }
    .ProfilePage__Infor {
        column-gap: 15px;
        margin-top: 40px;
    }
    .ProfilePage__Infor img {
        width: 60px;
    }
    .ProfilePage__Infor--ChangePhoto {
        font-size: 12px;
        padding: 7.2px 25px;
    }
    .ProfilePage__Infor--Delete {
        font-size: 12px;
        padding: 6.4px 25px;
        border: 1px solid;
    }
    .ProfilePage__Infor2 {
        row-gap: 30px;
        width: 100%;
        max-width: 100%;
        margin-top: 60px;
    }
    .ProfilePage__Infor2--Group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 30px;
        width: 100%;
    }
    .ProfilePage__Infor2--GroupItem {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        min-width: 100%;
    }
    .ProfilePage__ConnectedAccounts {
        row-gap: 14px;
        margin-top: 40px;
    }
    .ProfilePage__ConnectedAccounts--Title {
        font-size: 18px;
    }
    .ProfilePage__ConnectedAccounts--Item div {
        row-gap: 8px;
    }
    .ProfilePage__ConnectedAccounts--Item .Item--DisconnectButton {
        font-size: 12.9px;
    }
    .ProfilePage__ConnectedAccounts--Item div img[alt="logo-facebook"] {
        width: 80px;
    }
    .ProfilePage__ConnectedAccounts--Item div img[alt="logo-google"] {
        width: 80px;
    }
    .ProfilePage__ConnectedAccounts--Item div span {
        font-size: 12px;
    }
    .ProfilePage__Newsletter {
        margin-top: 50px;
    }
    .ProfilePage__Newsletter--Title {
        font-size: 18px;
    }
    .ProfilePage__Newsletter-Text {
        font-size: 12.9px;
    }
    .ProfilePage__Newsletter--Group button {
        font-size: 12px;
        padding: 6.4px 25px;
        border: 1px solid;
    }
    .ProfilePage__Newsletter--Group {
        width: 100%;
        border-bottom: 2px solid #E8E8E8;
        padding: 22px 0 20px 0;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ProfilePage__BottomBar--SignOut {
        column-gap: 3.6px;
    }
    .ProfilePage__BottomBar--SignOut i {
        font-size: 15px;
        display: inline-block;
        width: 16.4px;
        min-width: 16.4px;
        max-width: 16.4px;
        text-align: center;
    }
    .ProfilePage__BottomBar--SignOut span {
        font-size: 12.9px;
    }
    .ProfilePage__BottomBar--DeleteButton {
        font-size: 12.9px;
    }

}