:root{
    --primaryColor: #FF642F;
    --secondaryColor: #fac1ae;
    --backgroundColor: #f5f5f5;
    --backgoundBlueColor: #e2f2ff;
    --backgroundGrayColor: #E8E8E8;
    --backgroundGrayColor_2: #D5D5D5;
    --backgroundGrayFooter: #f9f9f9;
    --blackColor: #131313;
    font-size: 10px;
}

.main{
    margin-top: 24rem;
    width: 100%;
    .headding{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        .headding__content{
            justify-content: space-between;
            h1{
                font-size: 64px;
            }
            .heading__icon{
                display: flex;
                gap: 4rem;
                i{
                    font-size: 32px;
                }
            }
        }
        .heading__user{
            margin-top: 2rem;
            gap: 4rem;
            .user{
                gap: 2rem;
                .imgDiv{
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .heading__text{
            width: 50%;
            margin-top: 2rem;
            font-size: 18px;
        }
    }

    .videosunny{
        margin-top: 8rem;
        width: 100%;
        height: 850px;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .fa-regular{
            font-size: 10rem;
        }

        .play{
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            z-index: 100;
        }

        .pause{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            z-index: 100;
        }
    }

    .blog{
        display: flex;
        flex-direction: column;
        gap: 8rem;
        p{
            font-size: 20px;
            line-height: 2;
        }
        .blog__primary{
            display: flex;
            flex-direction: column;
            gap: 4rem;    
        }
        .blog__secondary{
            width: 100%;
            height: 500px;
            align-items: stretch;
            justify-content: space-between;
            .blog__secondary--left{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 4rem;
                padding-right: 8rem;
            }
            .blog__secondary--right{
                flex: 1;
                .imgDiv{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .blog__third{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
            h1{
                font-size: 8rem;
            }
            .third__content{
                .line{
                    width: 3rem;
                    height: 1px;
                    background-color: var(--primaryColor);
                }
            }
        }
        .blog__fourth{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            .imgDiv{
                width: 100%;
                height: 600px;
                border-radius: 2rem;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .blog_fifth{
            background-color: var(--backgroundGrayFooter);
            padding-top: 8rem;
            padding-bottom: 8rem;
            border-bottom: 1px solid var(--primaryColor);
            border-top: 1px solid var(--primaryColor);
            .blog__fifth--content{
                display: flex;
                flex-direction: column;
                gap: 4rem;

                .user{
                    gap: 4rem;
                    .user__imgdiv{
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .icon{
                    gap: 2rem;
                    .fa-brands{
                        font-size: 24px;
                    }
                    @keyframes bounce {
                        0%, 100% {
                            transform: translateY(0);
                        }
                        50% {
                            transform: translateY(-5px);
                        }
                    }
                    
                    /* Apply the animation on hover */
                    .fa-brands:hover {
                        animation: bounce 0.5s ease;
                        color: var(--primaryColor);
                    }

                }
            }
        }
    }

    .comments{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        transition: all 0.5s ease;
        .comments__content{
            align-items: flex-start;
            gap: 4rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
            border-bottom: 1px solid var(--backgroundGrayColor_2);
            transition: all 0.5s ease;
                .user__imgDiv{
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            
            .comments__div{
                flex: 9;
                display: flex;
                flex-direction: column;
                gap: 4rem;
                p{
                    width: 80%;
                }
                .comments__content--more{
                    gap: 4rem;
                    .comit{ cursor: pointer; transition: all 0.3s ease; &:hover{color: var(--primaryColor);}}
                    .like{ cursor: pointer; transition: all 0.3s ease; &:hover{color: var(--primaryColor);}}
                    .more{ cursor: pointer; transition: all 0.3s ease; &:hover{color: var(--primaryColor);}}
                }
            }
        }
        .btn__div{
            align-self: center;
            width: 300px;
            .btn-secondary{
                border: 1px solid black;
                width: 100%;                
            }
        }
    }

    .writecomment{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .write__heading{
            justify-content: space-between;
        }
        .write__box{
            position: relative;
            background-color: var(--backgroundGrayFooter);
            .write__box--content{
                width: 100%;
                height: 50rem;
                background-color: var(--backgroundGrayFooter);
                border-radius: 2rem;
                textarea{
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 100%;
                    background: var(--backgroundGrayFooter);

                    padding: 8rem;
                    font-size: 18px;
                    font-family: "Playfair Display", serif;
                    font-style: normal;
                }
            }
            .btn-primary{
                position: absolute;
                bottom: 2rem;
                right: 2rem;
            }
        }
    }

    .another{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .another__container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4rem;
            .another__content{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .another__content--img{
                    width: 100%;
                    height: 350px;
                    border-radius: 2rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .another__content--text{
                    text-align: center;
                }

            }
        }
    }
}
